<div class="footer">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">More problems? Fill out this form</h5>
      <a href="https://goo.gl/forms/1X0zVgONihZ3hUBz1">Click me to fill out the form!</a>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">More About Me</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/mlin2814">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/matthew-lin-75970890">LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="https://sheltered-taiga-20526.herokuapp.com/">Portfolio</a></li>
        </ul>
    </div>
  </div>
</div>